body > main {
    padding-top: 150px;
}

.form {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

    .form h3 {
        text-align: center;
        color: #333;
    }

    .form .btnSubmit {
        width: 50%;
        border-radius: 1rem;
        padding: 1.5%;
        border: none;
        cursor: pointer;
        font-weight: 600;
        color: #fff;
        background-color: #0062cc;
    }

.form-control[type=file] {
    height: auto;
}

.card {
    margin: 50px 0;
}

.card .img {
    width: 150px;
    border-radius: 50%;
    margin-top: -75px;
    height: 150px;
    align-self: center;
    border: 1px solid gray;
    background-size: contain;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: lightgrey;
}

.card .img a {
    color: black;
    text-decoration: none;
}

    .card .img a:hover {
        color: hotpink;
        font-weight: bold;
    }