<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Awesome Sauce Company Ltd - @ViewBag.Title</title>   
    <link href="/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="/styles/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Awesome Sauce Company Ltd</a>
        </nav>
    </header>

    <main role="main">
        <div class="container">
            @RenderBody()
        </div>
    </main>
</body>
</html>
